@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-con {
    background-color: white;
    margin-top: 20px;
    padding: 20px 40px;
    border: 3px solid black;
    border-radius: 10px;
}

.mainText {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.input .text {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3.5px;
    font-family: 'Outfit';
}

form {
    display: flex;
}

.add, .clear {
    margin-left: 5px;
    border: 2px solid black;
    font-size: small;
}
.clear,.add {
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.clear:hover,.add:hover {
    background-color:  black;
    color: white;
    transition: 0.3s ease;
}

#display {
    margin-top: 20px;
}

#display p {
    border: 2px solid black;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}