.Yellow {
    color: #FFD700;
}




#education-container {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr;
    margin: 5rem 5rem;
    padding: 10px;
}

.Uni-card h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

#About-me {
    width: 100%; /* set the width of the div */
    height: 100px; /* set the height of the div */
    display: flex; /* this makes the div a flex container */
    justify-content: center; /* this centers the div horizontally within its container */
    align-items: center; /* this centers the div vertically within its container */
}

#About-me h2 {
    transform: 1s ease;
}

#About-me h2:hover{
    color: #FFD700;
    padding-bottom: 10px;
    border-bottom: 5px solid #FFD700;
    transition: 0.2s ease;
}

@media screen and (max-width: 768px) {
    .Uni-card, .Uni-card h2{
        font-size: small;
    }

    .Uni-card h2 {
        line-height: 20px;
    }
}