.Container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #1B1212;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 4rem 0 4rem;

}

nav ul li{
    display: inline-block;
    list-style: none;
    padding-left: 2rem;
    margin: 20px 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
}

nav ul li a:hover {
    color: #FFD700;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFD700;
    transition: 0.2s ease;
}

.Logo{
    color: aliceblue;
    font-size: x-large;
    font-weight: bolder;
}

.Logo:hover {
    color: aliceblue;
}

.T {
    color: #FFD700;
}

@media screen and (max-width: 768px) {

    .Logo {
        width: 100%;
    }
    nav ul {
        display: none;
    }
}