#Prev-container {
        display: grid;
        place-items: center;
        margin: 5rem 5rem;
        padding: 10px;
        padding: 60px 0 60px 0;
}

.Yellow {
    color: #FFD700;
}


@media screen and (max-width: 768px) {
    .Pre-card ul li {
        padding: 0 20px 0 20px;
    }
}